@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap');
:root{
    // text
    --white: #FFFFFF;
    --black: #000000;

    // background
    --card-background-color: #ebebeb;
    --side-bar-background-color: #f5f5f5;

    // buttons
    --button-background-color: #656963;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
// General font
@mixin fonts( 
    $font-size:20px, 
    $font-family: "Inter",
    $font-optical-sizing: auto,
    $font-weight: 400,
    $font-style: normal
    ){
    font-size: $font-size;
    font-family: $font-family, sans-serif;
    font-optical-sizing: $font-optical-sizing;
    font-weight: $font-weight;
    font-style: $font-style;
}


.container{
    width: 1000px;
    margin: auto;
}
img{
    width: 100%;
    height: 100%;
}
.navigation{
    background-color: var(--white);
    margin-top: 20px;
    box-shadow: 1px 1px 5px 1px black;
    border-radius: 10px;
    padding: 20px;

    display: flex;
    justify-content: space-between;
    @include fonts();
    ul{
        display: flex;
        li{
            list-style: none;
            padding: 0 20px;
            
            a{
                text-decoration: none;
                color: var(--black);
                @include fonts(14px,bold,italic);
                text-transform: capitalize;
            }
        }
    }
}

// posts
$sidebar-width:30%;

.post{
    margin-top: 20px;
    .container{
        display: flex;
        gap: 20px;
        .posts{
            width: 100%;
            .blog-posts{
                display: flex;
                flex-wrap: wrap;
                gap: 17px;
                justify-content: space-between;
                .card{
                    width: 300px;
                    padding: 10px;
                    border: 1px solid rgb(201, 201, 201);
                    border-radius: 5px;
                    .card-head{
                        img{
                            width: 100%;
                            height: 200px;
                            object-fit: cover;
                        }
                    }
                    .card-body{
                        h2:nth-child(1){
                            @include fonts(13.6px, "Inter", bolder);
                            text-transform: uppercase;
                            padding: 6px 0;
                        }
                        h2:nth-child(2){
                            @include fonts(19.2px, "Literata", bolder);
                            &::first-letter{
                                text-transform: capitalize;
                            }
                        }
                        p{
                            @include fonts(15.2px, "Inter")
                        }
                    }
                    .card-footer{
                        display: flex;
                        justify-content: space-between;
                        @include fonts(12.2px, "Inter", bolder);
                        padding-top: 10px;
                    }
                }
            }
        }
        // .side-bar{
        //     width: $sidebar-width;
        //     background-color: var(--side-bar-background-color);
        //     ul{
        //         display: flex;
        //         flex-direction: column;
        //         li{
        //             list-style: none;
        //             padding: 10px;
        //             &:hover{
        //                 background-color: var(--button-background-color);
        //             }
        //             a{
        //                 text-decoration: none;
        //                 @include fonts(16px, bold, italic);
        //                 color: var(--black);
        //                 &:hover{
        //                     color: var(--white);
        //                 }
        //             }
        //         }
        //     }
        // }
    }
}

// about page
.about{
    .container{
        width: 1000px;
        margin: auto;
        .bout{
            margin-top: 20px;
            h1:nth-child(1){
                @include fonts(44px, "Literata", bolder);
                text-transform: capitalize;
                padding-bottom: 20px;
            }
            h1:nth-child(3),
            h1:nth-child(5)
            {
                @include fonts(24px, "Inter", bold);
                text-transform: capitalize;
                padding: 20px 0;
            }
            img{
                width: 100%;
                height: 500px;
                object-fit: cover;
            }
        }
    }
}

// contact
.contact{
    .container{
        width: 1000px;
        margin: auto;
        .cont{
            margin-top: 20px;
            img{
                width: 100%;
                height: 500px;
                object-fit: cover;
            }
            h1{
                font-size: 30px;
            }

            #contact{
                width: 60%;
                margin:  20px auto;
                display: flex;
                flex-direction: column;
                gap: 20px;

                #name,#email,button{
                    padding: 10px 5px;
                    border-top: 0;
                    border-bottom: 1px solid black;
                    border-left: 0;
                    border-right: 0;
                    outline: none;
                }
                #message{
                    padding: 10px;
                    height: 100px;
                    border: 0;
                    outline: none;
                }
                button{
                    border: 0px !important;
                    @include fonts(1.3em, "Literata");
                    text-transform: uppercase;
                }
            }
        }
    }
}

// extra smaller devices 
@media (max-width:480px){
    .header{
        display: none;
    }
    .post{
        width: 90%;
        margin: auto;
        .container{
            width: 100%;
            .posts{
                display: flex;
                flex-direction: column;
                gap: 20px;
                h1{
                    @include fonts(3em, "Literate", bolder);
                    text-transform: uppercase;
                    text-align: center;
                }
                .blog-posts{
                    width: 90%;
                    margin: auto;
                    .card{
                        width: 100%;
                        .card-head{
                            img{
                                width: 100%;
                                height: 300px;
                                object-fit: cover;
                            }
                        }
                        .card-body{
                            h2:nth-child(1){
                                @include fonts(1.6em, "Inter", bold);
                                padding: 5px 0;
                            }
                            h2:nth-child(2){
                                @include fonts(1.2em, "Literata", bold);
                                text-transform: capitalize;
                            }
                            p{
                                @include fonts(14px, "Inter");
                                &::first-letter{
                                    text-transform: uppercase;
                                }
                            }
                        }
                        .card-footer{
                            display: flex;
                        }
                    }
                }
            }
        }
    }
}

// small devices
@media (min-width:481px) and (max-width:767px){
    .container{
        width: 90%;
        margin: auto;
        .blog-posts{
            // width: 100%;
            // display: flex;
            // flex-wrap: wrap;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, ifr));
            gap: 1rem;
            .card{
                width: 100%;
                display: grid;
                grid-template-columns: repeat(2,1fr);
            }
        }
    }
}